.container {
    margin-top: 5rem;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 350px;

    h1 {
        margin-bottom: 1rem;
    }

    form {
        margin-bottom: 1rem;

        a {
            display: block;
            margin-bottom: 1rem;
        }
    }
}